
.tree-submenu {
background-color: #a200ff;
}

.tree-item-link.home 
{
    background-color: #a200ff;
}

.btn-confirm
{
    background-color:#a200ff;
}
.btn-confirm:hover
{
    background-color: #a200ff;
}
.btn-submit
{
background-color: #a200ff;
}
.btn-submit:hover
{
   background-color: #a200ff;
}
.btn-buy
{
background-color: #a200ff;
}
.btn-buy:hover
{
    background-color: #a200ff;
}
.btn-buy:active
{
   background-color: #a200ff;
}
.btn-add
{
  background-color: #a200ff;
}
.btn-add:hover
{
background-color: #a200ff;
}
.btn-add:active
{
  background-color: #a200ff;

}
.flex-control-paging li a {
border: 1px #a200ff solid;

}


.tabs-vr .tabs-headers span.tab-inside {
color: black;
}
.treeview li .selected, .treeview li .selected:hover {
font-weight: bold;
color: #a200ff;
}
.block-uc-alt .title {
color: #a200ff;
    padding: 9px 0 9px 0px !important;
}
.block-uc .title {
color: #a200ff;

}
.best-title, .new-title {
color: #a200ff;

}
.brands-symbol a:hover {

background: #a200ff;

}

.tree-item-inside a:hover {
    color: #a200ff;
}
.tree-item-selected .tree-item-inside a {
    color: #a200ff;
}
.block-uc .title.news {
    color: #a200ff;
}
.block-uc .title.checkorder {
    color: #a200ff;
}
span.price, div.price {
    color: #a200ff;
}

.block-uc .title.voting {
    color: #a200ff;
}
.best-title a, .new-title a, .discount-title a {
    color: #a200ff;
}

.brands-symbol a {

color: #a200ff;

}
table.avangard tr:hover {
background-color: #f2f2f2;

}
.discount-title {
    color: #a200ff;
}
table.avangard tr.selected {
background: #f2f2f2;
}
.block-uc .title.news {
color: #a200ff;

}
a {
color: #a200ff;
}
a:hover {
color: #a200ff;
}
.link-remove-a:hover {
color: #a200ff;
}
.link-remove-a {
color: #a200ff;
}
.link-recal {
    background-image: none;

color: black;
}
.link-light:hover {
color: #a200ff;
text-decoration: underline;
}
.tabs-vr .tabs-headers div.selected, .steps span.selected {
background: #a200ff;
}
.tabs-vr .tabs-headers div.selected span.right, .steps span.selected span.right {
border-left-color: #a200ff;
}
.tabs-vr .tabs-headers div.selected {
background: #a200ff;
}
.header-message a {

color: #a200ff;
}
.all-news-show {

color: #a200ff;

}
.block-uc .title.checkorder {
color: #a200ff;
}
.block-uc .title.voting {
color: #a200ff;
}
.flex-control-paging li a:hover {
background-color: #a200ff;
border-color: #a200ff;
}
.flex-control-paging li a.flex-active {
background-color: #a200ff;
border-color: #a200ff;
}
.btn-action
{
    background-color: #a200ff;
}
.btn-action:hover
{
  background-color: #a200ff;
}
.tree-submenu-column a:hover {
    color: white;
}