<?xml version="1.0" ?>
<advantshop>
    <localization>
		<lang value="en-US" />
	</localization>
    <!-- === Payments ========================================== -->
    <payments>
        <payment name="PayPal" enabled="True" localizename="PayPal"/>
        <payment name="Check" enabled="True" localizename="Check"/>
		<payment name="SberBank" enabled="False" localizename="SberBank"/>
        <payment name="Bill" enabled="False" localizename="Bill"/>
        <payment name="Cash" enabled="True" localizename="Cash"/>
        <payment name="MailRu" enabled="False" localizename="Mail.ru"/>
        <payment name="WebMoney" enabled="False" localizename="WebMoney"/>
        <payment name="Robokassa" enabled="False" localizename="Robokassa"/>
        <payment name="YandexMoney" enabled="False" localizename="YandexMoney"/>
        <payment name="AuthorizeNet" enabled="True" localizename="AuthorizeNet"/>
        <payment name="GoogleCheckout" enabled="True" localizename="GoogleCheckout"/>
        
        <payment name="eWAY" enabled="True" localizename="eWAY"/>
        <payment name="Check" enabled="True" localizename="Check"/>        
        <payment name="TwoCheckout" enabled="True" localizename="TwoCheckout"/>
        <payment name="Assist" enabled="True" localizename="Assist"/>
        <payment name="ZPayment" enabled="False" localizename="ZPayment"/>
        <payment name="Platron" enabled="False" localizename="Platron"/>
        <payment name="Rbkmoney" enabled="False" localizename="Rbkmoney"/>
        <payment name="CyberPlat" enabled="False" localizename="CyberPlat"/>
        <payment name="Moneybookers" enabled="True" localizename="Moneybookers"/>
        <payment name="AmazonSimplePay" enabled="True" localizename="AmazonSimplePay"/>

        <payment name="ChronoPay" enabled="False" localizename="ChronoPay"/>
        <payment name="PayOnline" enabled="False" localizename="PayOnline"/>
        <payment name="QIWI" enabled="False" localizename="QIWI"/>
        <payment name="PSIGate" enabled="True" localizename="PSIGate"/>
        <payment name="PayPoint" enabled="True" localizename="PayPoint"/>
        <payment name="SagePay" enabled="True" localizename="SagePay"/>
        <payment name="WorldPay" enabled="True" localizename="WorldPay"/>
        <payment name="CashOnDelivery" enabled="True" localizename="Cash on delivery"/>
        <payment name="PickPoint" enabled="False" localizename="PickPoint"/>
        <payment name="OnPay" enabled="False" localizename="OnPay"/>

        <payment name="WalletOneCheckout" enabled="False" localizename="WalletOneCheckout"/>
        <payment name="GiftCertificate" enabled="True" localizename="Gift certificate"/>
        <payment name="MasterBank" enabled="False" localizename="MasterBank"/>
        <payment name="MoscowBank" enabled="False" localizename="Bank of Moscow"/>
        <payment name="GateLine" enabled="False" localizename="GateLine.Net"/>
        
        <payment name="Interkassa" enabled="False" localizename="Interkassa"/>
        <payment name="Interkassa2" enabled="False" localizename="Interkassa 2.0"/>
        <payment name="LiqPay" enabled="False" localizename="LiqPay"/>
        <payment name="BillUa" enabled="True" localizename="BillUa"/>
        <payment name="Kupivkredit" enabled="False" localizename="КупиВкредит"/>
        <payment name="YesCredit" enabled="False" localizename="YesCredit"/>
        <payment name="Qppi" enabled="False" localizename="Qppi.ru"/>
        <payment name="BitPay" enabled="True" localizename="BitPay"/>
        <payment name="IntellectMoney" enabled="False" localizename="IntellectMoney"/>
        <payment name="Dibs" enabled="True" localizename="Dibs"/>
        <payment name="RsbCredit" enabled="False" localizename="Russian Standart Bank (credit)"/>
        <payment name="AlfabankUa" enabled="False" localizename="Alfabank.ua (credit)"/>
    </payments>
    <!-- === Shippings ========================================== -->
    <shippings>
        <shipping name="FreeShipping" enabled="True"  localizename="Free shipping"/>
        <shipping name="FixedRate" enabled="True"  localizename="Fixed rate shipping"/>
        <shipping name="ShippingByWeight" enabled="True"  localizename="Shipping by weight"/>
        <shipping name="FedEx" enabled="True"  localizename="FedEx"/>
        <shipping name="Ups" enabled="True"  localizename="Ups"/>
        <shipping name="Usps" enabled="True"  localizename="Usps"/>
        <shipping name="eDost" enabled="False"  localizename="eDost"/>
        <shipping name="ShippingByShippingCost" enabled="True" localizename="Shipping by shipping cost"/>
        <shipping name="ShippingByOrderPrice" enabled="True"  localizename="Shipping by order price"/>
		 <shipping name="ShippingByRangeWeightAndDistance" enabled="True"  localizename="Shipping by weight and distance"/>
    </shippings>
    <!-- === Modules ========================================== -->
    <modules>
        <module name="ritmz" enabled="False"/>
        <module name="etrade" enabled="False"/>
        <module name="yandexmarket" enabled="False"/>
		<module name="googlebase" enabled="True"/>
        <module name="mailchimp" enabled="True"/>
        <module name="priceregulation" enabled="True"/>
		<module name="exportorder1c" enabled="False"/>
    </modules>
    <commonsettings>
        <setting name="banksettings" enabled="False"/>
    </commonsettings>
    <authproviders>
        <provider name="yandex" enabled="False"/>
        <provider name="google" enabled="True"/>
        <provider name="mail.ru" enabled="False"/>
        <provider name="vkontakte" enabled="False"/>
        <provider name="twitter" enabled="True"/>
        <provider name="facebook" enabled="True"/>
    </authproviders>
</advantshop>

