<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <!--
  
  Note: You need only ONE connection string in this file
  
  Replace "MyServerName" to your SQL Server name
  Replace "MyDBName" to your SQL DataBase name
  Replace "MyUserName" to your sql user login
  Replace "MyPass" to your sql user password
  
  You could test your connection string at ~/tools/cntest_tools.aspx
  
  -->

    <!--Example For WebServer machine (login and pass) -->
    <add name="AdvantConnectionString"
        connectionString="Data Source='allium.arvixe.com'; Connect Timeout='30'; Initial Catalog='newadvantdb'; Persist Security Info='True'; User ID='rasucas'; Password='cas@1234';"
        providerName="System.Data.SqlClient" />

    <!--Example For local machine (Integrated Security) -->
    <!--<add name="AdvantConnectionString"
      connectionString="Data Source='RaSu-PC\RaSu'; Connect Timeout='5'; Initial Catalog='AdvantShop40013_EN'; Integrated Security='True';"
      providerName="System.Data.SqlClient" />
  -->
  </connectionStrings>


</configuration>